{% extends "base2.html" %}

{% block content %}
    <div class="my-3 font-light text-3xl">Vacation Applications</div>
    <hr class="my-3">
    <div class="flex flex-col">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                    <table class="min-w-full border text-center">
                        <thead class="border-b">
                        <tr>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 border-r">
                                Employee Id
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 border-r">
                                Name
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 border-r">
                                Reason
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 border-r">
                                Start Date
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 border-r">
                                End Date
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 border-r">
                                Response
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {# for loop goes here #}
                        <tr class="border-b">
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 border-r">1</td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">
                                Mark
                            </td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">
                                Sick Leave
                            </td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">
                                12-4-2022
                            </td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">
                                16-4-2022
                            </td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">
                                <form method="POST" action="/accept/application-id" autocomplete="off" class="">
                                    <button class="bg-green-500 hover:bg-green-700 text-white w-full font-bold py-2 px-4 mb-3 rounded focus:outline-none focus:shadow-outline">
                                        Approve
                                    </button>
                                </form>
                                <form method="POST" action="/reject/application-id" autocomplete="off" class="">
                                    <button class="bg-red-500 hover:bg-red-700 text-white w-full font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                                        Reject
                                    </button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}